_build*/
build/
loguru-build/
loguru-subbuild/
googletest-build/
googletest-src/
googletest-subbuild/
external/glfw-build/
external/glfw-src/
external/glfw-subbuild/
external/yaml-cpp-build/
external/yaml-cpp-src/
external/yaml-cpp-subbuild/
external/fast_obj-build/
external/fast_obj-src/
external/fast_obj-subbuild/
external/imgui-src/
external/imgui-subbuild/
external/imguizmo-build/
external/imguizmo-src/
external/imguizmo-subbuild/
external/nfd-build/
external/nfd-src/
external/nfd-subbuild/
external/stb-src/
external/stb-subbuild/
external/tinyexr-build/
external/tinyexr-src/
external/tinyexr-subbuild/
external/ufbx-src/
external/ufbx-subbuild/
external/gli-build/
external/gli-src/
external/gli-subbuild/
external/glm-build/
external/glm-src/
external/glm-subbuild/
external/bc7enc-src/
external/bc7enc-subbuild/
external/bc7enc-build/
external/joltphysics-build/
external/joltphysics-src/
external/joltphysics-subbuild/
external/dr_libs-build/
external/dr_libs-src/
external/dr_libs-subbuild/
wreckoning.log
.claude/settings.local.json
imgui.ini
config.yaml